Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Weapon_Pack/Map/Weapons_Kit_BuiltData.uasset
Content/Asian_Village/maps/Asian_Village_Demo_BuiltData.uasset
Content/Maps/Nil/Nil_BlasterMap2_BuiltData.uasset
Content/Stylized_Egypt/Maps/Stylized_Egypt_Demo_BuiltData.uasset
Content/Assets/Stylized_Egypt/Maps/Stylized_Egypt_Demo_BuiltData.uasset
Content/Maps/Nil/Nil_BlasterMap3_BuiltData.uasset
Content/Assets/Asian_Village/maps/Asian_Village_Demo_BuiltData.uasset
Content/Maps/Nil/Nil_BlasterMap1_BuiltData.uasset
/Content/AssetsvilleTown/Maps/Demonstration_BuiltData.uasset
/Content/TokyoStylizedEnvironment
/Content/Weapon_Pack
/Content/ModularLowPolyRobots
